body {
  background-color: hsl(0, 3%, 6%);
}

#p201 {
  color: tomato;
}

#p202 {
  color: rgb(102, 222, 255);
}

#p203 {
  color: #59ff5f;
}

#p203 {
  color: #59ff5f;
}

#p204 {
  color: hsl(272, 56%, 30%);
}
