.img1 {
  border: 5px solid teal;
  height: 200px;
}

.img2 {
  border: 5px solid red;
  height: 200px;
}

.img3 {
  border: 5px solid black;
  height: 200px;
}

.vid1 {
  width: 300px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

