.box1 {
  width: 200px;
  height: 200px;
  background-color: hsl(240, 56%, 15%);
  position: sticky;
  top: 0px;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: hsl(24, 77%, 58%);
  position: static;
  top: 50px;
  left: 50px;
}
