h1::first-letter {
  font-size: 2em;
  font-style: italic;
}

p::first-line {
  background-color: hsl(60, 77%, 71%);
}

p::selection {
  color: white;
  background-color: hsl(119, 43%, 53%);
}

#apple::after {
  content: '🍎';
}

#orange::after {
  content: '🟠';
}

#banana::after {
  content: '🍌';
}

#fruit li::marker {
  content: '✔️';
  color: hsl(120, 78%, 49%);
  font-size: 1.2em;
}
