@font-face {
  src: url('../fonts/YoungSerif-Regular.ttf');
  font-family: YoungSerif;
}
@font-face {
  src: url('../fonts/AutourOne-Regular.ttf');
  font-family: AutourOne;
}

h1 {
  font-family: Verdana, Arial;
  font-size: 1em;
}

.p01 {
  font-family: 'American Typewriter', 'Courier New', Courier, monospace;
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
}

.p02 {
  font-family: 'Roboto';
}

.p03 {
  font-family: 'YoungSerif';
  font-size: 1em;
}

.p04 {
  font-family: 'AutourOne';
  font-size: 2em;
}
